* {
  margin:0;
  padding:0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

hr {
  margin: 10px
}

.md-card .md-card-header:last-child {
    margin-bottom: 0px !important;
}

.topbar .md-tabs-content {
  display: none;
}

.select-field-menu {
  width: 100% !important;
  margin-top: 35px !important;
  margin-left: 0px !important;
}
